h1{
    color: lightgray;
}
button{
text-decoration: none;
}


nav > ul{
    overflow: hidden;

}
nav > ul > li{
    /* float: left;
    width: 138px;
    height: 40px; */
    display: inline-block;
    list-style: none;
    text-align: center;
    line-height: 20px;
    padding-right: 15%
}
li> a{
    text-decoration: none;
}
div{
    margin: 5px;
    padding: 5px;
    border: 1px solid #cccccc;
    text-align: center;
}
.all{
    margin: 0 auto;
}
header{
    background: black;
    color: white;
    padding: 5px;
    padding-left: 20px;
}